body {
    background-color: rgb(245, 71, 71);
}

.h1 {
    font-size: 104px;
    color: rgb(0, 0, 0);
    font-family: 'Creepster';
    line-height: 120%;
}

.h3 {
    font-size: 40px;
    font-family: 'Inter', sans-serif;
}

.h4 {
    font-family: 'Inter', sans-serif;
    font-size: 32px
}

.p1 {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

.img {
    width: 820px;
    height: auto;
    border: solid;
    border-width: 2px;
    border-color: black;
}

button {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 24px;
    padding: 16px;
    font-family: 'Inter', sans-serif;
}

button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.link {
    color: black !important;
}

.link:hover {
    color: white !important;
}